<%= render @quiz %>

<div>
  <% @quiz.questions.each do |question| %>

    <% if current_user.answer_for(question) %>
      <p>
        <%= question.title %>
      </p>
    <% else %>
      <p>
        <%= link_to question.title, quiz_question_path(@quiz.id, question.id) %>
      </p>
    <% end %>

    <p>
      <%= current_user.answer_for(question) %>
    </p>

    <small>Created <%= time_ago_in_words(question.created_at)%> ago</small>
  <% end %>
</div>

<%= link_to "Back to quizzes", quizzes_path %>

<% if can? :manage, @quiz %>
  <div>
    <%= link_to "Edit this quiz", edit_quiz_path(@quiz) %>
    <%= link_to "Create a question", new_quiz_question_path(@quiz) %>
    <%= button_to "Destroy this quiz", @quiz, method: :delete %>
  </div>
<% end %>