<main class="quiz-container display">
  <%= render @quiz %>

  <div class="display">
    <% @quiz.questions.each do |question| %>

      <div class="quiz-question-div display">
        <% if current_user.answer_for(question) %>
          <p class="question-title">
            <%= question.title %>
          </p>

          <p class="question-answer">
            Ans: <%= current_user.answer_for(question) %>
          </p>
        <% else %>
          <p class="question-title"> <%= question.title %> </p>
          <p class="link-answer">
            <%= link_to 'Answer This Question', quiz_question_path(@quiz.id, question.id) %>
          </p>
        <% end %>
      </div>
      <small class="created">Created <%= time_ago_in_words(question.created_at)%> ago</small>
    <% end %>
  </div>

  <div class="display">
    <%= link_to "Back to quizzes", quizzes_path, class: 'new-quiz' %>

    <% if can? :manage, @quiz %>
      <div class="display">
        <%= link_to "Edit this quiz", edit_quiz_path(@quiz), class: 'new-quiz' %>
        <%= link_to "Create a question", new_quiz_question_path(@quiz), class: 'new-quiz' %>
        <%= button_to "Destroy this quiz", @quiz, method: :delete, form_class: "delete-btn" %>
      </div>
    <% end %>
  </div>
</main>